.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background:whitesmoke;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: antiquewhite;
  color: black;
}

.mat-toolbar.span {
  background:whitesmoke;
  
}
div {
padding-left: 80%;
}
