<h1>Edit Author</h1>
<form #editauthorForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder = "Author" [(ngModel)] = "author"
                       name = "author"
                       required 
                       #edit = "ngModel">
      <mat-error *ngIf="!(edit.valid || edit.pristine)">
        Author is required
      </mat-error> 
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput placeholder = "Id" [(ngModel)] = "id" 
      name = "id"
      required
      #editId = "ngModel">
      <mat-error *ngIf="!(editId.valid || editId.pristine)">
           Id of the Author is required
          </mat-error>  
    </mat-form-field>
    <div>
        <button type ="submit" mat-raised-button color="primary" [disabled]="!edit.valid && !editId.valid">Submit</button>
    </div>
  </div>
</form>