<p *ngIf ="!(authors$ | async)">Loading authors...</p>
<mat-selection-list #authors>
    <mat-list-option *ngFor="let author of authors$ | async" [value]="author.author">
        <p> {{author.author}} <a routerLink="/editauthor/{{author.id}}/{{author.author}}" routerLinkActive="active">Edit</a> </p>
       </mat-list-option>
   
  </mat-selection-list>
   
<!--   <p>
    Options selected: {{authors.selectedOptions.selected.length}}
  </p> -->

  <p>Options selected: {{authors.selectedOptions.selected.length}}  </p>
   
  <form #addauthorForm="ngForm" (ngSubmit)="add()">
       <mat-form-field>
         <input matInput placeholder = "add Author" [(ngModel)] = "newauthor"
                          name = "newauthor">
          </mat-form-field>
          <br>
        <button type ="submit" mat-raised-button color="primary">Add New author</button>
